In [2]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [33]:
df_T_inertia = pd.DataFrame()
df_T_inertia['section'] = [0, 2.5, 5, 7.5, 10, 35, 60, 65, 70]
df_T_inertia['manga'] = [0, 13.23, 17.32, 19.36, 20, 20, 20, 10, 0]

df_T_inertia['T_inertia'] = df_T_inertia['manga'].apply(lambda x: (1/12) * x**3)

In [30]:
df_T_inertia.head(20)

   section  manga   T_inertia
0      0.0   0.00    0.000000
1      2.5  13.23  192.973772
2      5.0  17.32  432.974597
3      7.5  19.36  604.692821
4     10.0  20.00  666.666667
5     35.0  20.00  666.666667
6     60.0  20.00  666.666667
7     65.0  10.00   83.333333
8     70.0   0.00    0.000000

In [31]:
array = np.array([[2,3,4,5],[2,4,7,3]])

array.dtype

dtype('int64')

In [18]:
lista = [4,3,5,3]
print(type(lista))

<class 'list'>

In [40]:
def set_section_and_beams(sections,beams):
    """return dataframe that relates the beams with each x point sections"""
        
    df_T_inertia = pd.DataFrame()

    if np.issubdtype(sections.dtype, np.integer) and np.issubdtype(beams.dtype, np.integer):
        df_T_inertia['sections'] = sections
        df_T_inertia['beams'] = beams

        return df_T_inertia.head()

In [46]:
sections = np.array([2,7,4,5,6])
beams = np.array([5,4,1,2,5])

In [49]:
print(set_section_and_beams(sections,beams))

   sections  beams
0         2      5
1         7      4
2         4      1
3         5      2
4         6      5